@page "/CriarPost"
@rendermode InteractiveServer
@using ProjetoES.Data
@using ProjetoES.Models;
@inject ApplicationDbContext _context
@inject AuthenticationStateProvider AuthenticationStateProvider


<div>
    <input type="text" @bind="@CurrentTitle"/>
    <input type="text" @bind="@CurrentText"/>
</div>

<button @onclick="criarPost">Criar Post</button>

@code {
    private String CurrentTitle { get; set; }
    private String CurrentText { get; set; }
    private String texto { get; set; }
    private String titulo { get; set; }

    private async void criarPost()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Post post = new Post(user.Identity.Name, CurrentTitle, CurrentText);
        _context.Posts.Add(post);
        await _context.SaveChangesAsync();
        texto = post.texto;
        titulo = post.titulo;
        
    }
}