@page "/ForumPage"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using ProjetoES.Data
@using ProjetoES.Models;
@inject ApplicationDbContext _context
@using ProjetoES.Components.Components;


<h3>FORUM</h3>
<NavLink href="/CriarPost"><button>  Criar Post</button></NavLink>
<div>
    @if(forum.Posts.Count == 0)
	{
		<h3> Nao existem posts</h3>
	}
	else
	{
		<h3> Posts</h3>
        @foreach (var post in forum.Posts)
        {
            var url = $"/PostPage/{post.Id}";
            <NavLink href="@url">
                <PostsComponent post=post></PostsComponent>
            </NavLink>
        }
	})
    
</div>

@code {
    private Forum forum = Forum.GetInstance();
    protected override async Task OnInitializedAsync()
    {
        forum.Posts = await _context.Posts.ToListAsync();
    }
}
