@page "/PostPage"
@rendermode InteractiveServer
@using ProjetoES.Models;
@using ProjetoES.Components;
@using ProjetoES.Padroes;

<h3>Post</h3>
<h3>Titulo: @post.titulo</h3>
<h3>User: @post.user</h3>
<h3>Texto: @post.texto</h3>

<div>
	@if(comments != null)
	{
		foreach(var comentario in comments)
		{
			@comentario.RenderComponent();
		}
	}
</div>

@code {
	private Post post = new Post("ACJAJD", "JDAHSD ", "NJASD");
	private List<CompositeComment> comments = new List<CompositeComment>();
	private CompositeComment comment1 = new CompositeComment("Coelho1", "jadhahd", 0);
	private CompositeComment comment2 = new CompositeComment("Coelho2", "jadhah2", 1);
	private CompositeComment comment3 = new CompositeComment("Coelho1", "jadhahd123", 2);
	private CompositeComment comment4 = new CompositeComment("Coelho2", "jadhah2123", 3);

	protected override async Task OnInitializedAsync()
	{
		comment1.AddItem(comment2);
		comment2.AddItem(comment3);
		comment1.AddItem(comment4);
		comments.Add(comment1);
	}
}
